<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tourism</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Addtourserve</display-name>
    <servlet-name>Addtourserve</servlet-name>
    <servlet-class>master.servlet.Addtourserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtourserve</servlet-name>
    <url-pattern>/Addtourserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteserve</display-name>
    <servlet-name>deleteserve</servlet-name>
    <servlet-class>master.DLT.deleteserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteserve</servlet-name>
    <url-pattern>/deleteserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateserv</display-name>
    <servlet-name>Updateserv</servlet-name>
    <servlet-class>master.UPD.Updateserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateserv</servlet-name>
    <url-pattern>/Updateserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hotelserve</display-name>
    <servlet-name>Hotelserve</servlet-name>
    <servlet-class>master.serve.Hotelserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotelserve</servlet-name>
    <url-pattern>/Hotelserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addhotelserve</display-name>
    <servlet-name>Addhotelserve</servlet-name>
    <servlet-class>master.hservlet.Addhotelserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addhotelserve</servlet-name>
    <url-pattern>/Addhotelserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hdeleteserve</display-name>
    <servlet-name>Hdeleteserve</servlet-name>
    <servlet-class>master.DLT.Hdeleteserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hdeleteserve</servlet-name>
    <url-pattern>/Hdeleteserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hupdateserve</display-name>
    <servlet-name>Hupdateserve</servlet-name>
    <servlet-class>master.UPD.Hupdateserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hupdateserve</servlet-name>
    <url-pattern>/Hupdateserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alserve</display-name>
    <servlet-name>alserve</servlet-name>
    <servlet-class>master.servlet.alserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alserve</servlet-name>
    <url-pattern>/alserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Alserve</display-name>
    <servlet-name>Alserve</servlet-name>
    <servlet-class>master.aserve.Alserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alserve</servlet-name>
    <url-pattern>/Alserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALSERVE</display-name>
    <servlet-name>ALSERVE</servlet-name>
    <servlet-class>master.ASERVE.ALSERVE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALSERVE</servlet-name>
    <url-pattern>/ALSERVE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationserve</display-name>
    <servlet-name>Registrationserve</servlet-name>
    <servlet-class>master.regserve.Registrationserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationserve</servlet-name>
    <url-pattern>/Registrationserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginserve</display-name>
    <servlet-name>Loginserve</servlet-name>
    <servlet-class>master.LOGSERVE.Loginserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginserve</servlet-name>
    <url-pattern>/Loginserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bankservelet</display-name>
    <servlet-name>Bankservelet</servlet-name>
    <servlet-class>master.Bankserve.Bankservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bankservelet</servlet-name>
    <url-pattern>/Bankservelet</url-pattern>
  </servlet-mapping>
</web-app>